{% extends "layout.html.twig" %}
{% block body %}
<tbody class="crw-items">
    {% for card  in list_card %}
        <tr>
            <fieldset>
                <div class="form-group">
                    {{ include("card.html.twig") }}
                </div>
            </fieldset>
        </tr>
    {% endfor %}
</tbody>
{% if app.user is not null %}
{{ include("user.html.twig") }}
{{ include("panier.html.twig") }}
{% endif %}
{% endblock %}