{% extends "layout.html.twig" %}
{% block body %}
    {{ form(form) }}
    <a class="button button--secondary" href="{{ path('affichage') }}">Retourner à l'accueil</a>

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}